<!-- ******FAQ****** -->
<section id="faq" class="faq section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">Frequently Asked Questions</h2>
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Are there any demos that I can look at?</h3>
                    <p class="answer">Yes! The <a href="http://www.idolondemand.com/docs/demos" target="_blank">HP IDOL OnDeamnd demo gallery</a> showcases the capabilities of the IDOL OnDemand web service APIs and the variety of ways they can be used within your app. </p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>If I have questions, where do I post them?</h3>
                    <p class="answer">If you have questions regarding IDOL OnDemand pertaining to any [topcoder] challenges you are participating in, please post them to the discussion forum for that challenge. Developer evangelists for HP will be monitoring these discussions and can certainly help out. If your questions are more general to IDOL OnDemand as a product, you can contact <a href="https://www.idolondemand.com/developer/support" target="_blank">developer support</a>.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Where can I find the API docs?</h3>
                    <p class="answer">You can <a href="https://www.idolondemand.com/developer/docs" target="_blank">access the Developer Documentation here</a>.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Is there an API playground where I can experiment with the APIs?</h3>
                    <p class="answer">Why yes there is! The IDOL OnDemand site has a <a href="https://www.idolondemand.com/developer/apis">super-cool API explorer</a> where you can get more info about each API, view sample request and responses and make samples requests against a sandbox environment.</p>
                </div><!--//item-->
            </div><!--//faq-col-->
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>How do I sign up for IDOL OnDemand?</h3>
                    <p class="answer">You can <a href="http://www.idolondemand.com/signup.html" target="_blank">sign up for access on the IDOL OnDemand site</a>. As a [topcoder] member you'll be one of the first developers to try out IDOL OnDemand web service APIs. You'll also play a pivotal role in adding your voice to IDOL OnDemand product development.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>I have some ideas about IDOL OnDemand. Where do I send them?</h3>
                    <p class="answer">If you have any feedback or ideas, we'd love to hear it.  You can <a href="http://www.idolondemand.com/contactus.html" target="_blank">send them to HP here</a>.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Is there one-page overview where I can wrap my head around IDOL OnDemand?</h3>
                    <p class="answer">There certainly is! Take a look at the <a href="https://www.idolondemand.com/docs/overview.html" target="_blank">Introducing IDOL OnDemand page</a>. It's a great overview of the product and should have what you need.</p>
                </div><!--//item-->
            </div><!--//faq-col-->
        </div><!--//row-->
        <div class="more text-left">
            <div class="row">
              <div class="col-md-8"><img src="images/poweredby.png"></div>
              <div class="col-md-4">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
              </div>
            </div>
        </div>
    </div><!--//container-->
</section><!--//faq-->
