<!-- ******FAQ****** -->
<section id="faq" class="faq section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">Frequently Asked Questions</h2>
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Are there any demos that I can look at?</h3>
                    <p class="answer">Check out the video from Dreamforce for some demos. Salesforce1 is written entirely in Aura, BTW.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>If I have questions, where do I post them?</h3>
                    <p class="answer">If you have questions regarding Aura pertaining to any topcoder challenges you are participating in, please post them to the discussion forum for that challenge.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Is Aura open source?</h3>
                    <p class="answer">Yes! You can find the code and information for Aura on the <a href="https://github.com/forcedotcom/aura">github repo</a>.</p>
                </div><!--//item-->
            </div><!--//faq-col-->
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>How do I get access to Aura?</h3>
                    <p class="answer">We will be providing access for all challenge participants.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Where can I find the Aura docs?</h3>
                    <p class="answer">You can find the Aura Framework documentation <a href="http://documentation.auraframework.org/auradocs#">here</a>.</p>
                </div><!--//item-->
            </div><!--//faq-col-->
        </div><!--//row-->
        <div class="more text-left">
            <div class="row">
              <div class="col-md-8"><img src="images/poweredby.png"></div>
              <div class="col-md-4">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
              </div>
            </div>
        </div>
    </div><!--//container-->
</section><!--//faq-->
