<!-- ******FAQ****** -->
<section id="faq" class="faq section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">Frequently Asked Questions</h2>
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>How do I get access to Lightning?</h3>
                    <p class="answer">Click the "Login In" button on <a href="http://developer.salesforce.com" target="_blank">developer.salesforce.com</a> to sign up for a <strong>new Winter '15</strong> Developer Org. This will have everything you need to get started..</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>If I have questions, where do I post them?</h3>
                    <p class="answer">If you have questions or would like to discuss Lighting in general, please use <a href="http://apps.topcoder.com/forums/?module=ThreadList&forumID=588033&mc=0" target="_blank">this forum</a>. If you have questions regarding Lightning pertaining to any topcoder challenges you are participating in, please post them to the discussion forum for that challenge.</p>
                </div><!--//item-->
            </div><!--//faq-col-->
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Is there a step-by-step guide to creating Lightning components?</h3>
                    <p class="answer">If you want to get up and running quickly with Lightning developing, check out the <a href="https://developer.salesforce.com/resource/pdfs/Lightning_QuickStart.pdf" target="_blank">Lightning Components Quick Start</a>. It has everything you need to build your first 'hello world' component.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Where can I find the Lightning Components Developer’s Guide?</h3>
                    <p class="answer">You can find the Developer Guide <a href="https://developer.salesforce.com/docs/atlas.en-us.lightning.meta/lightning/">here</a> along with a PDF version that you can download.</p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Is there an easy reference guide for Lightning?</h3>
                    <p class="answer">Yes! The <a href="https://developer.salesforce.com/resource/pdfs/Lightening_Components_Cheatsheet.pdf" target="_blank">Lightning Components Cheat Sheet</a> has sample code, common methods, UI components and more for quick, easy access.</p>
                </div><!--//item-->
            </div><!--//faq-col-->
        </div><!--//row-->
        <div class="more text-left">
            <div class="row">
              <div class="col-md-8"><img src="images/poweredby.png"></div>
              <div class="col-md-4">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
              </div>
            </div>
        </div>
    </div><!--//container-->
</section><!--//faq-->
