<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center sr-only">Features</h2>
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-comments"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://www.idolondemand.com/docs/apis/api/detectsentiment/overview" target="_blank">Sentiment Analysis</a></h3>
                    <p>Return the positive or negative sentiments of any document or web content, including tweets, news articles, blog posts, product reviews, comments and more.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-magnet"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://www.idolondemand.com/docs/apis/api/extractentity/overview" target="_blank">Entity Extraction</a></h3>
                    <p>Extracts entities (words, phrases, or blocks of information) from your input text.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-camera-retro"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://www.idolondemand.com/docs/image-analysis/overview" target="_blank">Image Analysis</a></h3>
                    <p>Analyze images using face detection and image identification. Use image to text to make text accessible and searchable or embed a barcode reader to enrich the functionality of your app.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->

        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-gear"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://www.idolondemand.com/docs/format-convert/overview" target="_blank">Format Conversion</a></h3>
                    <p>Extract text from a wide range of file types. Convert 500+ file formats to HTML for high fidelity native browser rendering.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-puzzle-piece"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://www.idolondemand.com/docs/text-analysis/overview" target="_blank">Text Analysis</a></h3>
                    <p>Extract, highlight and expand text and metadata, entities, and keywords to automatically discover, organize and classify unstructured information.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-search"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title"><a href="https://www.idolondemand.com/docs/search/overview" target="_blank">Search</a></h3>
                    <p>Search unstructured information. Extract and highlight keywords.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//features-->
