<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container">

      <div class="row" style="padding-bottom:25px">
          <div class="overview col-md-12 col-sm-12 col-xs-12">
              <p style="font-size:16px">The Lightning Component framework is a UI framework for developing dynamic web apps for mobile and desktop devices. It’s a modern framework for building single-page applications engineered for growth. The framework supports partitioned multi-tier component development that bridges the client and server. It uses JavaScript on the client side and Apex on the server side.</p>
              <p style="font-size:16px">The framework includes a set of prebuilt components that you can assemble and configure to form new components in an app. Components support encapsulated and can contain other components, as well as HTML, CSS, JavaScript, or any other Web-enabled code.</p>
              <p style="font-size:16px">Event-driven programming is at the core of Lightning. The idea is that a component registers that it may fire an event and then you write handlers that respond to interface events as they occur. </p>
          </div><!--//overview-->
      </div>

        <div class="row">
            <h2 class="title text-center sr-only">Features</h2>
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-puzzle-piece"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Out-of-the-Box Component Set</h3>
                    <p>Comes with an out-of-the-box set of components to kick start building apps. You don't have to spend your time optimizing your apps for different devices as the components take care of that for you.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-thumbs-o-up"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Device-aware and cross browser compatibilitys</h3>
                    <p>Apps are responsive and provide an enjoyable user experience. The Lightning Component framework supports the latest in browser technology such as HTML5, CSS3, and touch events.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-bullhorn"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Event-driven architecture</h3>
                    <p>Uses an event-driven architecture for better decoupling between components. Any component can subscribe to an application event, or to a component event they can see.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->

        <div class="row">
            <div class="item col-md-6 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-paste"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Faster team development</h3>
                    <p>Building an app with components facilitates parallel design, improving overall development efficiency. Components are encapsulated and their internals stay private, while their public shape is visible to consumers of the component. This strong separation gives component authors freedom to change the internal implementation details and insulates component consumers from those changes.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-6 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-rocket"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Performance</h3>
                    <p>Uses a stateful client and stateless server architecture that relies on JavaScript on the client side to manage UI component metadata and application data. The framework uses JSON to exchange data between the server and the client. To maximize efficiency, the server only sends data that is needed by the user.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//features-->
