<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container">

      <div class="row" style="padding-bottom:25px">
          <div class="overview col-md-12 col-sm-12 col-xs-12">
              <p style="font-size:16px">Salesforce1 Lightning is a new, easy way to build responsive applications for any screen and includes a number of exciting tools for developers:</p>
              <ul style="font-size:16px">
                  <li style="padding:5px">Lightning components give you a client-server framework that accelerates development, as well as app performance, and is ideal for use with the Salesforce1 mobile app</li>
                  <li style="padding:5px">The Lightning App Builder will empower you to build apps visually, without code, quicker than ever before using off-the-shelf and custom-built Lightning components</li>
              </ul>
          </div><!--//overview-->
      </div>

        <div class="row">
            <h2 class="title text-center sr-only">Features</h2>
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-puzzle-piece"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Assemble apps fast with out-of-the-box & homegrown components</h3>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-thumbs-o-up"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Device-aware and cross browser compatibility</h3>
                </div><!--//content-->
            </div><!--//item-->

            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-wrench"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Use existing web skills like JavaScript, HTML5 and CSS</h3>
                </div><!--//content-->
            </div><!--//item-->


        </div><!--//row-->

        <div class="row">

            <div class="item col-md-6 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-bullhorn"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Event-driven architecture</h3>
                </div><!--//content-->
            </div><!--//item-->

            <div class="item col-md-6 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-rocket"></i>
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Optimized for fast single page apps</h3>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//features-->
