<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header has-pattern">
    <div class="container">
        <div class="row">
            <div class="overview col-md-8 col-sm-12 col-xs-12">
              <h2 class="title">Compete for $20,000 in prize money and build next generation UI components for Salesforce1</h2>
              <p style="font-size:18px;">Got a great idea for a component?  Win money creating of the first open source custom components for Lightning!  This challenge is wide open and we are paying extra prize money across the following categories for the coolest multi-component apps!</p>
              <ul class="summary">
                <li>Social</li>
                <li>Location-based</li>
                <li>Native Phone Use</li>
                <li>Overall</li>
              </ul>
              <p style="font-size:16px; padding-bottom:20px;padding-top:10px">Ready to innovate? <a href="http://www.topcoder.com/?action=callback" target="_blank" class="white-link-underlined">Sign up now</a> and compete in <a class="scrollto white-link-underlined" href="#challenges">topcoder challenges</a> to build something amazing with us. </p>
            </div><!--//overview-->

            <!--// iPhone starts -->
            <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                <div class="iphone-holder phone-holder">
                    <div class="iphone-holder-inner">
                        <div class="slider flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="images/iphone/iphone-slide-1.png"  alt="" />
                                </li>
                                <li>
                                    <img src="images/iphone/iphone-slide-3.png"  alt="" />
                                </li>
                                <li>
                                    <img src="images/iphone/iphone-slide-2.png"  alt="" />
                                </li>
                            </ul><!--//slides-->
                        </div><!--//flexslider-->
                    </div><!--//iphone-holder-inner-->
                </div><!--//iphone-holder-->
            </div><!--//iphone-->
            <!--// iPhone ends -->

        </div><!--//row-->
    </div><!--//container-->
</section><!--//promo-->
